{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-12">
      <h1>Business Studies</h1>
    </div>
  </div>
  <!-- notes -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Notes</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a
            href="{{ url_for('business_studies_notes') }}"
            class="btn btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>
    <!-- past papers -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Past Papers</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a
            href="{{ url_for('business_studies_past_papers') }}"
            class="btn btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>
    <!-- videos -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Videos</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a
            href="{{ url_for('business_studies_videos') }}"
            class="btn btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>
    <!-- band 6 exmplars -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Band 6 Exemplars</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a
            href="{{ url_for('business_studies_band_6_exemplars') }}"
            class="btn btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
