{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-12">
      <h1>Business Studies - Notes</h1>
    </div>
  </div>
  <!-- operations -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Operations</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a
            href="{{ url_for('business_studies_topic_notes_operations') }}"
            class="btn btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>
    <!-- Marketing -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Marketing</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <!-- finance -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Finance</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <!-- HR -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Human Resources</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
