{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-12">
      <h1>Resources</h1>
      <p>Access curated resources and tools designed to support every stage the HSC.</p>
    </div>
  </div>

  <!-- exam strategy -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <div
          class="card-img-top d-flex align-items-center justify-content-center bg-light"
          style="height: 180px"
          aria-label="Exam Strategy icon"
        >
          <i class="bi bi-bullseye" style="font-size: 4rem"></i>
        </div>
          <div class="card-body">
            <h5 class="card-title">Exam Strategy</h5>
            <p class="card-text">Master exam techniques and response structures.</p>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <!-- Revision tools -->
      <div class="col">
        <div class="card h-100">
          <div
          class="card-img-top d-flex align-items-center justify-content-center bg-light"
          style="height: 180px"
          aria-label="Revision Tools icon"
        >
          <i class="bi bi-tools" style="font-size: 4rem"></i>
        </div>
          <div class="card-body">
            <h5 class="card-title">Revision Tools</h5>
            <p class="card-text">Access resources to organise and streamline your revision.</p>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <!-- Time managemnts -->
      <div class="col">
        <div class="card h-100">
          <div
          class="card-img-top d-flex align-items-center justify-content-center bg-light"
          style="height: 180px"
          aria-label="Time Management icon"
        >
          <i class="bi bi-clock" style="font-size: 4rem"></i>
        </div>
          <div class="card-body">
            <h5 class="card-title">Time Management</h5>
            <p class="card-text">Learn how to plan your study and balance your workload.</p>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <!-- study techniques -->
      <div class="col">
        <div class="card h-100">
          <div
          class="card-img-top d-flex align-items-center justify-content-center bg-light"
          style="height: 180px"
          aria-label="Study Techniques icon"
        >
          <i class="bi bi-highlighter" style="font-size: 4rem"></i>
        </div>
          <div class="card-body">
            <h5 class="card-title">Study Techniques</h5>
            <p class="card-text">Discover proven study methods to improve your performance.</p>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
