{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-12">
      <h1>Resources</h1>
      <p>Study resources will be listed here.</p>
    </div>
  </div>

  <!-- exam strategy -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Exam Strategy</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <!-- Revision tools -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Revision Tools</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <!-- Time managemnts -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Time Management</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <!-- study techniques -->
    <div class="col">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ url_for('static', filename='images/placeholder.png') }}"
          alt="Card image cap"
          style="height: 180px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">Study Techniques</h5>
          <p class="card-text">Some quick example text for the card.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
