{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-12">
      <h1>About</h1>
      <p>
        Onelink is a free to use online website dedicated to housing study tools
        and resources for year 12 students undertaking the HSC in New South
        Wales. It aims to provide students with a single place to store all
        their study resources.
      </p>
      <p>
        OneLink works by allowing students to find and access all the study
        materials the internet has to offer without the hassle of needing to
        look for it themselves. This saves students time that they can put
        towards their studies.
      </p>
    </div>
  </div>
</div>
{% endblock %}
